.nav {
    background-color: burlywood;
    list-style: none;
    height: 100vh;
}
.nav ul {
    padding-left: 5px;
}
.item {
    list-style: none;
    margin-bottom: 10px;
}
.link {
    color: white;
    text-decoration: none;
}
.linkActive {
    color: gold;
}